body{
   margin: 0
}
#container {
    width: 100%;
}
#navbar {
    display: flex;
    height: 100px;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    padding: 10px;
    color: black;
}
a:hover {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 30px;
}
#logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img {
    width: 180px;
}
#menu {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu > ul {
    list-style-type: none;
}
#menu > ul > li {
    display: inline;
    margin-left: 30px;
    
}
#hero {
    margin-top: 10px;
    display: flex;
    height: fit-content;
}
#hero img {
    width: 100%;
}